<footer class="footer">
    <div class="footer__wrapper">
        <div class="return-to-top-wrapper">
            <a href="#" id="scrollToTopButton" class="return-to-top" onclick=scrollToTop()>Back to top</a>
        </div>
        <div class="footer__row1">
            <div class="footer__row1__column1">
                <h1>Join our mailing list</h1>
                <div class="footer__column1__form">
                    <form action="" id="email-form" name="email-form" data-name="Email Form">
                        <div class="form__group">
                            <input type="input" class="form__field" placeholder="Name" name="name" id="name" maxlength="=256" required />
                            <label for="name" class="form__label">NAME</label>
                        </div>
                        <div class="form__group">
                            <input type="input" class="form__field" placeholder="Email" name="email" id="email" maxlength="=256" required />
                            <label for="name" class="form__label">EMAIL</label>
                            <input type="submit" value="&#xf1d8" data-wait="Plesae wait..." class="far fa-paper-plane">
                        </div>
                    </form>
                </div>
            </div>
            <div class="footer__row1__column2"></div>
        </div>
        <div class="footer__row2">
            <div class="footer__row2__column1">
                <div class="footer__logo">
                    <h1>COMPANY</h1>
                    <h4>Placeholder</h4>
                </div>
            </div>
            <div class="footer__row2__column2">
                <div class="footer__group__title">About us</div>
                <ul class="footer__about">
                    <li><a target="_blank" href="#" class="footer__link">About</a></li>
                    <li><a target="_blank" href="#" class="footer__link">Jobs</a></li>
                    <li><a target="_blank" href="#" class="footer__link">Docs</a></li>
                </ul>
            </div>
            <div class="footer__row2__column3">
                <div class="footer__group__title">Can we help?</div>
                <ul class="footer__terms-privacy">
                    <li><a target="_blank" href="#" class="footer__link">Terms and Condition</a></li>
                    <li><a target="_blank" href="#" class="footer__link">Privacy Policy</a></li>
                    <li><a target="_blank" href="#" class="footer__link">Cookie Policy</a></li>
                </ul>
            </div>
            <div class="footer__row2__column4">
                <div class="footer__group__title">Find us on</div>
                <ul class="footer__socials">
                    <li><a target="_blank" href="#" class="footer__link__withicon facebook">Facebook</a></li>
                    <li><a target="_blank" href="#" class="footer__link__withicon instagram">Instagram</a></li>
                    <li><a target="_blank" href="#" class="footer__link__withicon twitter">Twitter</a></li>
                    <li><a target="_blank" href="#" class="footer__link__withicon linkedin">Linkedin</a></li>
                    <li><a target="_blank" href="#" class="footer__link__withicon youtube">YouTube</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__copyright">
            <h6>Copyright &#169; 2021 all rights reserved</h6>
        </div>
    </div>
</footer>