<div class="theme-toggle-wrapper">
    <div id="theme-toggle-container" class="theme-toggle-container">
        <div id="theme-toggle" class="theme-toggle"></div>
        <div id="theme-toggle-background" class="theme-toggle-background"></div>
    </div>
</div>