@use '../utils' as *;

.header {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(120);
    transition: all .2s ease-out;
    background: var(--navbar-gradient);
    z-index: 100;
    &__logo {
        display: flex;
        font-family: 'Playfair Display', serif;
        font-size: rem(38);
        letter-spacing: rem(8);
        justify-content: center;
        position: absolute;
        top: rem(18);
        width: 100%;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        @include breakpoint(xlarge) {}
    }
    @include breakpoint(medium) {
        justify-content: space-between;
        align-items: center;
    }
    &__navigation {
        padding: 0;
        margin: 0;
        .navigation__items {
            left: 0;
            position: absolute;
            right: 0;
            text-align: center;
            padding: inherit;
            margin: inherit;
            top: rem(70);
            .navigation__link {
                display: inline-block;
                position: relative;
                font-size: rem(12);
                height: rem(50);
                padding: 0 10px;
                text-transform: uppercase;
                z-index: 10;
            }
            .navigation__link::after {
                position: absolute;
                bottom: 50%;
                left: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 0%;
                content: '.';
                color: transparent;
                background: var(--text-color);
                height: rem(1);
            }
            .navigation__link:hover::after {
                width: 100%;
            }
            .navigation__link,
            .navigation__link:after,
            .navigation__link:before {
                transition: all .5s;
            }
        }
    }
    // Header Light/Dark-mode switch
    &__mode-switch {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        left: 50px;
        position: absolute;
        top: 70px;
        height: rem(24);
        width: rem(50);
        .theme-switch-container {
            border: 1px solid var(--text-color);
            background-color: var(--background2);
            color: var(--text-color);
            align-items: center;
            overflow: hidden;
            border-radius: rem(12);
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 101;
            .theme-switch {
                border: 1px solid var(--text-color);
                background-color: transparent;
                height: 100%;
                width: rem(24);
                height: rem(24);
                top: rem(-1);
                position: absolute;
                border-radius: 100%;
                transition: .5s all ease;
                z-index: 102;
            }
            .switch-bg {
                border-radius: rem(12);
                width: 100%;
                height: 100%;
                background-color: transparent;
                position: relative;
                z-index: 0;
                display: flex;
                align-items: center;
                overflow: hidden;
            }
        }
    }
    &__mode-switch:hover {
        cursor: pointer;
    }
}
.header:hover {
    background: var(--background);
    transition: 0s;
}
.sticky {
    background: var(--background);
    top: rem(-50);
}