@use '../utils' as *;

.container {
    padding: 0 rem(25);
    max-width: rem(1110);
    margin: 0 auto rem(46);

    @include breakpoint(large) {
        padding: 0;
    }
}

.wrapper {
    max-width: 100vw;
    padding: 0;
    margin: 0;

    @include breakpoint-down(small) {
        display: none;
    }
}

// Fix layout for scrollbar
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--background02);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--font-color01);
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--font-color02);
}

.hidden {
    display: none;
}